* {
  box-sizing: border-box;
}

header {
  display: grid;
  grid-row: center;
  grid-column: auto;
  margin-left: 500px;
  margin-right: 500px;
  justify-self: center;
  font-size: 30px;
  text-size-adjust: center;
}
/*
.grid {
  width: 500px;
  height: 500px;
  border: solid 2px red;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 10 center;
  grid-row: center;
  align-items: center;
  justify-content: center;
  margin-left: 450px;
  margin-right: 450px;
}
*/

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(235, 231, 231, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 500px;
  width: 500px;
  margin-left: 400px;
  margin-right: 400px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

img {
  display: block;
  height: 50px;
  max-width: 50px;
  justify-items: end;
}

picture {
  display: block;
}
body {
  font-size: 100%;
  background-color: black;
  color: indigo;
}
