* {
  box-sizing: border-box;
}

header {
  font-family: Tahoma;
  font-weight: bold;
  display: grid;
  grid-row: center;
  grid-column: auto;
  margin-left: 500px;
  margin-right: 500px;
  justify-self: center;
  font-size: 30px;
  text-size-adjust: center;
  padding-top: 20px;
}

.grid {
  align-items: center;
  box-shadow: 0 0 40px 0 chartreuse;
  background-image: url(../images/NASA-med.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 500px;
  width: 500px;
  margin-left: 400px;
  margin-right: 400px;
  padding-top: 10px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.princess {
  background-image: url(../images/princess.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.grid div.wafflecat {
  background-image: url(../images/wafflecat.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.grid div.blueshoot {
  background-image: url(../images/blueshoot.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

img {
  display: block;
  height: 50px;
  max-width: 50px;
  justify-items: end;
}

h2 {
  color: aqua;
}

button {
  color: aqua;
}

picture {
  display: block;
}
body {
  font-size: 100%;
  background-size: cover;
  background-image: url(../images/galaxy-1837306_1920.jpg);
  color: greenyellow;
}
